<!DOCTYPE html>
<html lang="es">

<head>

<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta charset="utf-8">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
{% load static %}
<link rel="stylesheet" href="{% static 'core\css\styleinicio.css' %}">
<script type="text/javascript" src="{% static 'core\js\jquery-3.4.1.js' %}"></script>
<script type="text/javascript" src="{% static 'core\js\funciones.js' %}"></script>
<link rel="stylesheet" href="{% static 'core\css\bootstrap.min.css' %}">


<title> DUOC RESPUESTAS </title>


</head>

<body class="text-white">

<div class="container"> <!--Div con nombre designado contenedor !-->
 <br><!-- Salto de linea !-->
 <header>
      <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark"> <!-- Se declara el menu de navegacion con un tipo drak (oscuro) fixed-top sirve para que abarque todo el largo de la pagina  !-->
      <p class="navbar-brand" > DUOC RESPUESTAS !</p> 
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="iniciosesiom.html">Login <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="registro.html">Registrate</a>
      </li>
	
    </ul>
   
   
   
  </div>
</nav>
 </header>
</div>

<br>
<br>
<br>
<br>

<center>

<h2>

<div id="carousel" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img class="d-block w-10"  src="{% static 'core\img\mai.jpg' %}" alt="First slide">
	  <div class="carousel-caption">
      
      </div>
    </div>
    <div class="carousel-item">
      <img class="d-block w-50" src="{% static 'core\img\du.jpg' %}" alt="Second slide">
	  <div class="carousel-caption">
       
      </div>
    </div>
    <div class="carousel-item">
      <img class="d-block w-50" src="{% static 'core\img\ing.jpg' %}" alt="Third slide">
	  <div class="carousel-caption">
        
      </div>
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>

</h2>

</center>

<br>
<br>

<center>

<H3>
DUOC RESPUESTAS es una pagina en la cual el usuario podra responder y preguntar sobre temas de su interes
</H3>

</center>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script src="{% static 'core\js\jquery-3.4.1.js' %}"></script>
<script src="{% static 'core\css\bootstrap.min.css' %}"></script>


</body>

</html>
