<!DOCTYPE html>

<html>
<head>
<meta charset="utf-8">
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'core\css\style3.css' %}">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<link rel="stylesheet" type="text/css" href="{% static 'core\css\bootstrap.min.css' %}">
<script type="text/javascript" src="{% static 'core\js\jquery-3.4.1.js' %}"></script>
<script type="text/javascript" src="{% static 'core\js\funciones.js' %}"></script>



<title>Iniciar sesion </title>

</head>

<body class="text-white"> <!-- bg-white forma de cambiar el color del background en bootstrap !-->
<div class="container"> <!--Div con nombre designado contenedor !-->
 <br><!-- Salto de linea !-->
 <header>
      <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark"> <!-- Se declara el menu de navegacion con un tipo drak (oscuro) fixed-top sirve para que abarque todo el largo de la pagina  !-->
      <p class="navbar-brand" > DUOC RESPUESTAS !</p> 
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="home.html">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="nueva_persona.html">Registrate</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="agregar_pre.html">Crear una pregunta</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="persona_list">listado de preguntas</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="listar_persona">listado de personas</a>
      </li>
	  
    </ul>
   
   
   
  </div>
</nav>
 </header>
</div>
<!-- Saltos de linea  !-->
<br>
<br>
<br>
<br>



<h1> Iniciar Sesion <h1> 
<!-- Inicia el from con nombre "login"  !-->
<form name="login"  >
<div class="div-login">

<!-- Se crea la tabla  !-->
<table width="500" >
<!-- Cabecera !-->
<tr>

 <th > <h3>  Usuario </h3></th> 
 
 <td> <!-- COLUMNA !-->
 <span class="cnt">
 <input type="text" name="usuario" class="usuario " value="" size="15" required />  <!-- Required para que sea obligatorio ingresar este dato !-->
 </span> <!--Separacion sin ser un salto de linea !-->
 </td>
 </tr>
 
 <tr>
 
 <th > <h3>  Contraseña </h3> </th>
 
 <td> <span class="cnt"> 
 <!-- Casilla tipo "password"!-->
 <input type="password" name="password" class="password " value="" size="15"   required />
 
 </span></td>

 </tr>
 </table>
 <!-- Parrafo que contiene el boton ingresar  !-->
 <div text-align:"center">
 <p><input  value="Ingresar"  onclick="Login()" type="button" class=" btn btn-lg btn-primary   " /> </p>
 </div>
 </div>
 </form>


<!-- Links !-->
<script src="{% static 'core\js\jquery-3.4.1.js' %}"></script>
<script src="{% static 'core\css\bootstrap.min.css' %}"></script>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>


<Script language="JavaScript"> <!-- Se especifica el lenguaje que se va a usar para el script!--> 

function Login() <!-- Nombre del metodo o funcion !-->
{
<!--Declaracion de variables usuario y password !-->
var usuario = document.login.usuario.value;
var password = document.login.password.value;

if(usuario=="nico"&& password =="contraseña") <!-- Sentencia condicional if que pregunta que si lo que se ingresa es igual a usuario y contraseña hara lo siguiente: !-->
{
window.location="file:///C:/Users/Administrador/Desktop/prueba%201/PaginaPreguntas.html"; <!--Redireccionar a una pagina !-->
}
 else <!-- Si no se cumple esa condicion entonces ... !-->
{
 alert("Usuario y contraseña erroneos, si no estas registrado por favor hazlo !"); <!--Alertara al usuario y le pedira registrarse !-->
} 

}
</Script>



</body>

</html>